Repository arenadata/adcm, pull requests merged in 2022-10, with the labels that each got.

#2124 Fix `invisible` for Yandex Auth
  conf/adcm/config.yaml
Labels: python

#2128 ADCM-3252 Test on task logs archive content
  requirements-test.txt
  tests/functional/test_task_log_bulk_download.py
  tests/functional/test_task_log_bulk_download_data/content/cluster/actions.yaml
  tests/functional/test_task_log_bulk_download_data/content/cluster/config.yaml
Labels: tests

#2123 ADCM-3226 Test task logs archive naming
  requirements-test.txt
  tests/functional/test_task_log_bulk_download.py
  tests/functional/test_task_log_bulk_download_data/content/cluster/actions.yaml
  tests/functional/test_task_log_bulk_download_data/content/cluster/config.yaml
  tests/functional/test_task_log_bulk_download_data/naming/cluster/actions.yaml
  tests/functional/test_task_log_bulk_download_data/naming/cluster/config.yaml
  tests/functional/test_task_log_bulk_download_data/naming/provider/actions.yaml
  tests/functional/test_task_log_bulk_download_data/naming/provider/config.yaml
Labels: tests

#2083 ADCM-3195 add `type` field for `user` and `policy` expanded group views
  python/rbac/endpoints/user/serializers.py
Labels: python

#2131 Change adcm-client version
  requirements-test.txt
Labels: tests

#2133 ADCM-3257 fix naming of issue in case of cluster or host renaming
  python/api/cluster/serializers.py
  python/cm/issue.py
Labels: python

#2116 ADCM-3221 Get rid of base docker image repo
  .dockerignore
  .flake8
  Dockerfile
  Makefile
  assemble/app/Dockerfile
  assemble/app/build_venv.sh
  assemble/base/requirements-base.txt
  assemble/cloud/Dockerfile
  go/Makefile
  os/etc/adcmenv
  os/etc/crontabs/root
  os/etc/nginx/conf.d/adcm.conf
  os/etc/nginx/conf.d/proxy.inc
  os/etc/nginx/http.d/adcm.conf
  os/etc/startup.sh
  os/etc/sv/cron/run
  os/etc/sv/init/run
  os/etc/sv/nginx/run
  os/etc/sv/status/run
  os/etc/sv/wsgi/finish
  os/etc/sv/wsgi/run
  python/api/views.py
  python/api_ui/views.py
  python/audit/cases/common.py
  python/audit/cases/rbac.py
  python/audit/cases/stack.py
  python/cm/management/commands/logrotate.py
  python/job_venv_wrapper.sh
  requirements-ansible.txt
  requirements-test.txt
  requirements-venv-2.9.txt
  requirements-venv-default.txt
  requirements.txt
  tests/functional/audit/test_operation_logs.py
Labels: python

#2135 ADCM-3224 `is_maintenance_mode_available` added to host
  python/api/host/serializers.py
  python/api/host/views.py
  python/cm/models.py
  python/cm/tests/test_host.py
Labels: python

#2134 ADCM-3224 Fix tests on hosts' MM
  python/api/host/serializers.py
  python/api/host/views.py
  python/cm/inventory.py
  python/cm/models.py
  python/cm/tests/test_host.py
  requirements-test.txt
  tests/functional/audit/scenarios/objects_update.yaml
  tests/functional/audit/test_objects_updates.py
  tests/functional/maintenance_mode/conftest.py
  tests/functional/maintenance_mode/test_hosts_behavior.py
  tests/functional/maintenance_mode/test_upgrade_to_mm.py
Labels: tests, python

#2126 ADCM-3242 remove self logrotation of statusserver [go]
  go/adcm/status/log.go
  os/etc/logrotate.d/runstatus
Labels: go

#2138 ADCM-3216 Unskip UI config tests and make condition to determine if button should be disabled
  tests/ui_tests/test_cluster_list_page.py
Labels: tests

#2139 simplify `test_configs_fields_invisible_true`
  tests/ui_tests/app/helpers/configs_generator.py
  tests/ui_tests/test_cluster_list_page.py
Labels: tests

#2115 Test on known bug with activatable group in action's config
  tests/functional/test_known_bugs.py
  tests/functional/test_known_bugs_data/activatable_group_in_action_config/config.yaml
Labels: tests

#2136 ADCM-3263 rename disabling_cause, change messages from disabling cause, show actions for host in mm
  python/api/action/serializers.py
  python/api/action/views.py
  python/api/utils.py
  python/cm/models.py
  requirements-test.txt
  tests/functional/maintenance_mode/conftest.py
  tests/functional/maintenance_mode/test_hosts_behavior.py
Labels: python
