Repository arenadata/adcm, pull requests merged in 2022-05, with the labels that each got.

#1734 ADCM-2804 hc mm validation
  python/api/cluster/serializers.py
Labels: python

#1732 ADCM-2799 set disabling cause 'mm' to actions having parents's host(s) in mm
  python/api/utils.py
Labels: python

#1735 ADCM-2807 Test on MM status after cluster deletion
  tests/functional/maintenance_mode/test_hosts_behavior.py
Labels: tests

#1731 ADCM-2072 Extra test on host_action and MM
  tests/functional/maintenance_mode/bundles/cluster_host_actions/config.yaml
  tests/functional/maintenance_mode/test_hosts_behavior.py
Labels: tests

#1726 ADCM-2794 Extra test for inventory of action with `hc_acl`
  tests/functional/maintenance_mode/bundles/cluster_mm_allowed/config.yaml
  tests/functional/maintenance_mode/test_inventory_modification.py
Labels: tests

#1723 ADCM-2756 Basic test on status aggregation with one of hosts in MM
  tests/functional/maintenance_mode/test_statuses.py
  tests/library/assertions.py
Labels: tests

#1739 ADCM-2072 Adjust tests and make some fixes
  tests/functional/maintenance_mode/test_hosts_behavior.py
  tests/functional/maintenance_mode/test_statuses.py
  tests/library/errorcodes.py
Labels: tests

#1737 ADCM-2809 Test on services presence in inventory when one of services has a config group
  python/cm/inventory.py
  tests/functional/test_known_bugs.py
  tests/functional/test_known_bugs_data/cluster_with_services/actions.yaml
  tests/functional/test_known_bugs_data/cluster_with_services/config.yaml
Labels: tests

#1738 ADCM-2804 fix error code
  python/api/cluster/serializers.py
  python/cm/errors.py
Labels: python

#1746 ADCM-2072 More verbose steps added to MM related tests
  tests/functional/maintenance_mode/bundles/cluster_mm_allowed/config.yaml
  tests/functional/maintenance_mode/test_hosts_behavior.py
Labels: tests

#1750 ADCM-2072 Fix tests on statuses aggregation with MM
  tests/functional/maintenance_mode/test_statuses.py
Labels: tests

#1748 ADCM-2789 Tests on access to task logs extended
  tests/functional/rbac/test_access_to_objects.py
Labels: tests

#1749 ADCM-2815 add disable_cause=main_mode if host_action starts on second host
  python/api/utils.py
Labels: python

#1747 ADCM-2789 fix internal error on applying TaskRole for existing policy
  python/rbac/roles.py
  tests/functional/rbac/test_access_to_objects.py
Labels: python

#1754 ADCM-2072 Tests on MM extended
  tests/functional/maintenance_mode/test_hosts_behavior.py
  tests/functional/maintenance_mode/test_upgrade_to_mm.py
Labels: tests

#1751 ADCM-2817 Fixed MM for hosts after upgrade
  python/cm/upgrade.py
  tests/functional/maintenance_mode/test_hosts_behavior.py
  tests/functional/maintenance_mode/test_upgrade_to_mm.py
Labels: python

#1745 ADCM-2781 Fixed aggregation statuses for cluster and service with hosts in maintenance mode
  go/adcm/go.mod
  go/adcm/status/handlers.go
  go/adcm/status/host.go
  go/adcm/status/init.go
  go/adcm/status/status.go
  go/adcm/status/status_event.go
  go/adcm/status/storage.go
  python/api/cluster/serializers.py
  python/api/host/views.py
  python/api/stack/urls.py
  python/api/stack/views.py
  python/cm/api.py
  python/cm/status_api.py
  tests/functional/maintenance_mode/test_statuses.py
Labels: go, python

#1760 ADCM-2824 Fix message to expect in config group tests
  tests/functional/test_config_groups.py
Labels: tests

#1756 ADCM-2824 add string to check UI artefacts, make error_msg more clear
  python/api/group_config/serializers.py
  tests/functional/test_config_groups.py
Labels: python

#1762 ADCM-2828 Fixed ui view for group-config
  python/api/group_config/serializers.py
  python/api/group_config/views.py
Labels: python

#1744 ADCM-2810 refactor cluster's concern deletion
  python/cm/api.py
  python/cm/issue.py
Labels: python

#1758 Adcm-2751 add ui test for "Manage Maintenance mode" role
  tests/ui_tests/app/helpers/configs_generator.py
  tests/ui_tests/app/page/common/table/locator.py
  tests/ui_tests/app/page/host_list/locators.py
  tests/ui_tests/app/page/host_list/page.py
  tests/ui_tests/test_admin_page.py
  tests/ui_tests/test_admin_page_data/cluster_with_services/config.yaml
Labels: tests

#1764 ADCM-1760 add lock and issue check for changing hc
  python/cm/issue.py
  python/cm/job.py
  tests/functional/test_locked_objects.py
Labels: python

#1761 ADCM-1762 Develop tests for Expand on locked host (#882)
  python/cm/issue.py
  python/cm/job.py
  tests/functional/test_locked_objects.py
Labels: tests

#1767 ADCM-2752 add ui tests for maintenance mode
  tests/ui_tests/app/page/cluster/page.py
  tests/ui_tests/app/page/host_list/locators.py
  tests/ui_tests/app/page/host_list/page.py
  tests/ui_tests/test_cluster_list_page.py
  tests/ui_tests/test_cluster_list_page_data/cluster_community/config.yaml
  tests/ui_tests/test_host_page.py
  tests/ui_tests/test_host_page_data/cluster/config.yaml
  tests/ui_tests/test_host_page_data/provider/config.yaml
Labels: tests

#1763 ADCM-2727 Adjust tests on group configs to new format of `attr`
  tests/functional/test_config_after_upgrade.py
  tests/functional/test_config_groups.py
  tests/functional/test_upgrade_cluster.py
Labels: tests

#1765 Fixed check of `config` and `attr` fields for `group-config`
  python/api/group_config/serializers.py
  python/cm/adcm_config.py
  python/cm/api.py
  python/cm/models.py
  tests/functional/test_config_after_upgrade.py
  tests/functional/test_config_groups.py
  tests/functional/test_upgrade_cluster.py
Labels: python

#1770 Update tests considering MM
  tests/functional/rbac/actions/test_run_actions.py
  tests/functional/rbac/test_upgrade_adcm.py
  tests/functional/rbac/test_upgrade_adcm_data/cluster/config.yaml
  tests/functional/rbac/test_upgrade_adcm_data/second_cluster/actions.yaml
  tests/functional/rbac/test_upgrade_adcm_data/second_cluster/config.yaml
Labels: tests

#1772 Added migration for fix `group_keys` structure
  python/cm/migrations/0087_fix_group_keys_structure.py
Labels: python

#1729 ADCM-2792 Expand test on service delete to check concerns on cluster
  tests/functional/test_delete_service.py
  tests/functional/test_delete_service_data/config.yaml
Labels: tests

#1773 Test on config "attr" update added
  tests/functional/test_adcm_upgrade.py
  tests/functional/test_adcm_upgrade_data/with_config_groups/cluster/config.yaml
  tests/functional/test_adcm_upgrade_data/with_config_groups/provider/config.yaml
  tests/library/assertions.py
Labels: tests

#1743 ADCM-2727 Add checkbox for active group in config-group
  python/api/group_config/serializers.py
  python/cm/adcm_config.py
  python/cm/api.py
  python/cm/migrations/0088_fix_group_keys_structure.py
  python/cm/models.py
  python/cm/unit_tests/test_config_group.py
  tests/functional/maintenance_mode/test_inventory_modification.py
  tests/functional/test_adcm_upgrade.py
  tests/functional/test_adcm_upgrade_data/with_config_groups/cluster/config.yaml
  tests/functional/test_adcm_upgrade_data/with_config_groups/provider/config.yaml
  tests/functional/test_config_after_upgrade.py
  tests/functional/test_config_groups.py
  tests/functional/test_config_groups_data/cluster_with_activatable_group/config.yaml
  tests/functional/test_upgrade_cluster.py
  tests/library/assertions.py
  web/src/app/shared/components/actions/master/master.component.spec.ts
  web/src/app/shared/configuration/attributes/attribute.service.ts
  web/src/app/shared/configuration/attributes/attributes/group-keys/group-keys-wrapper.component.ts
  web/src/app/shared/configuration/fields/fields.component.ts
  web/src/app/shared/configuration/group-fields/group-fields.component.html
  web/src/app/shared/configuration/group-fields/group-fields.component.ts
  web/src/app/shared/configuration/main/config.component.spec.ts
  web/src/app/shared/configuration/main/config.component.ts
  web/src/app/shared/configuration/services/field.service.ts
  web/src/app/shared/configuration/tests/configuration.ts
  web/src/app/shared/configuration/types.ts
  web/src/app/shared/form-elements/field.directive.ts
Labels: bug

#1778 ADCM-2843 change schema to disallow hc_acl to provider
  python/cm/adcm_schema.yaml
Labels: python

#1780 ADCM-2845 update DoUpgradeSerializer
  python/api/serializers.py
  python/cm/upgrade.py
Labels: python

#1784 ADCM-2849 add test for issue in hostprovider
  tests/ui_tests/app/page/common/tooltip_links/page.py
  tests/ui_tests/test_provider_page.py
  tests/ui_tests/test_provider_page_data/cluster_community/config.yaml
  tests/ui_tests/test_provider_page_data/provider_with_host_with_issue/config.yaml
Labels: tests

#1777 ADCM-2842 add filter for PrototypeList view
  python/api/stack/filters.py
  python/api/stack/views.py
Labels: python

#1775 ADCM-2797 remove issues after remaping host with issues
  python/cm/api.py
  python/cm/issue.py
Labels: python

#1781 ADCM-2853 Config rotation
  conf/adcm/config.yaml
  python/cm/job.py
  python/logrotate.py
Labels: python

#1779 ADCM-2731 add hostcomponentmap in cluster view
  python/api/cluster/views.py
  python/api/provider/serializers.py
  python/api/provider/views.py
  python/api/serializers.py
Labels: python

#1776 ADCM-2844 New cases added to test on uploading valid/invalid bundle (hc_acl in upgrade)
  tests/functional/maintenance_mode/test_inventory_modification.py
  tests/functional/test_upgrade_actions.py
  tests/functional/test_upgrade_actions_data/validation/invalid/hc_acl_in_provider/config.yaml
  tests/functional/test_upgrade_actions_data/validation/invalid/non_existent_component_in_regular_action/config.yaml
  tests/functional/test_upgrade_actions_data/validation/invalid/non_existent_service_in_regular_action/config.yaml
  tests/functional/test_upgrade_actions_data/validation/valid/hc_acl_in_cluster/config.yaml
Labels: tests
