Repository arenadata/adcm, pull requests merged in 2022-07, with the labels that each got.

#1837 ADCM-2928 add checking of provider existing during bundle deletion, add tests on it
  python/cm/bundle.py
  python/cm/tests_bundle_deletion.py
Labels: python

#1839 ADCM-2939 fix allow_to_terminate
  python/task_runner.py
Labels: python

#1833 ADCM-2887 Expect LDAP user to be created AS IS
  tests/functional/ldap_auth/conftest.py
Labels: tests

#1842 ADCM-2899 add filters to running LDAP sync
  conf/adcm/python_scripts/run_ldap_sync.py
  python/rbac/ldap.py
Labels: python

#1831 ADCM-2914 Added simple LDAP user login via UI
  tests/conftest.py
  tests/functional/ldap_auth/conftest.py
  tests/functional/ldap_auth/test_access.py
  tests/functional/ldap_auth/test_relations.py
  tests/functional/ldap_auth/utils.py
  tests/ui_tests/test_login_page.py
Labels: tests

#1843 ADCM-2793 remove skip from tests
  tests/ui_tests/test_cluster_list_page.py
Labels: tests

#1834 Adcm-2848 ui tests for new cluster upgrade
  tests/ui_tests/app/page/cluster_list/page.py
  tests/ui_tests/app/page/common/base_page.py
  tests/ui_tests/app/page/common/dialogs_locators.py
  tests/ui_tests/test_cluster_list_page.py
  tests/ui_tests/test_cluster_list_page_data/upgradable_cluster_v2/config.yaml
  tests/ui_tests/test_cluster_list_page_data/upgradable_cluster_v2/succeed.yaml
Labels: tests

#1841 ADCM-2934 rework user deletion
  python/rbac/endpoints/me/views.py
  python/rbac/endpoints/user/views.py
  python/rbac/migrations/0003_user_date_unjoined.py
  python/rbac/models.py
  python/rbac/utils.py
Labels: python

#1840 ADCM-2941 recheck issues in get_upgrade
  python/cm/upgrade.py
Labels: python

#1838 ADCM-2938 LDAP additional filters for groups and users
  conf/adcm/config.yaml
  conf/adcm/python_scripts/run_ldap_sync.py
  python/rbac/ldap.py
  python/rbac/models.py
  python/rbac/tests/tests_model/test_group.py
Labels: python

#1848 Add error if execution is too early and python process don't start
  python/cm/job.py
  python/cm/models.py
Labels: python

#1844 ADCM-2915 Test LDAP config changes
  tests/functional/ldap_auth/test_basic.py
Labels: tests

#1847 ADCM-2940 Tests on `allow_to_terminate` directive
  python/cm/job.py
  python/cm/models.py
  tests/conftest.py
  tests/functional/test_allow_to_terminate.py
  tests/functional/test_allow_to_terminate_data/actions.yaml
  tests/functional/test_allow_to_terminate_data/config.yaml
  tests/generic_bundles/simple_provider/config.yaml
Labels: tests

#1855 ADCM-2793_1 skip tests
  tests/ui_tests/test_cluster_list_page.py
Labels: tests

#1856 ADCM-2887 fix _update_groups: initially get rbac groups
  python/rbac/services/user.py
Labels: python

#1854 ADCM-2896 Tests on `run_ldap_sync` and `test_ldap_connection` actions
  requirements-test.txt
  tests/conftest.py
  tests/functional/ldap_auth/test_modification.py
  tests/functional/ldap_auth/test_sync.py
  tests/functional/ldap_auth/utils.py
  tests/library/ldap_interactions.py
Labels: tests

#1858 ADCM-2916 Skipped tests on LDAP auth returned
  tests/functional/ldap_auth/test_basic.py
Labels: tests

#1859 ADCM-2918 Tests on user local/ldap collision
  tests/functional/ldap_auth/test_basic.py
  tests/functional/ldap_auth/test_sync.py
  tests/functional/ldap_auth/utils.py
Labels: tests

#1867 ADCM-2887 Expect user is deactivated, not deleted in ADCM after it's deleted in LDAP
  tests/functional/ldap_auth/test_sync.py
  tests/functional/ldap_auth/utils.py
Labels: tests

#1866 ADCM-2962 Simple check of regular sync tasks deactivation
  tests/functional/ldap_auth/test_sync.py
Labels: tests

#1864 ADCM-2961 add periodic run of sync action
  os/etc/crontabs/root
  python/cm/management/commands/run_ldap_sync.py
Labels: python

#1865 ADCM-2963 UI test on task cancellation
  tests/conftest.py
  tests/functional/test_allow_to_terminate.py
  tests/generic_bundles/action_termination_allowed/actions.yaml
  tests/generic_bundles/action_termination_allowed/config.yaml
  tests/library/conditional_retriever.py
  tests/ui_tests/app/page/job_list/locators.py
  tests/ui_tests/app/page/job_list/page.py
  tests/ui_tests/test_regression.py
Labels: tests

#1861 ADCM-2952 add deactivate users during sync, change error message in case of wrong connection
  conf/adcm/python_scripts/run_ldap_sync.py
  python/rbac/endpoints/me/views.py
  python/rbac/endpoints/user/views.py
  tests/api/utils/data_classes.py
Labels: python

#1868 ADCM-2964 auth only users in groups specified by group_search
  python/cm/errors.py
  python/rbac/ldap.py
  python/rbac/migrations/0005_rbac_group_unique_display_name_type_constraint.py
  python/rbac/models.py
  python/rbac/tests/tests_model/test_group.py
Labels: python

#1871 ADCM-2964 Make tests to expect `AUTH_ERROR` on failed login
  tests/functional/ldap_auth/test_basic.py
  tests/functional/ldap_auth/test_sync.py
  tests/library/assertions.py
  tests/library/errorcodes.py
Labels: tests

#1862 ADCM-2959 allow cancelling actions on object deletion
  python/cm/api.py
  python/cm/models.py
Labels: python

#1876 ADCM-2958 Add audit app and models
  python/adcm/settings.py
  python/audit/__init__.py
  python/audit/apps.py
  python/audit/migrations/0001_initial.py
  python/audit/migrations/__init__.py
  python/audit/models.py
  python/cm/tests_runner.py
  python/cm/unit_tests/tests_adcm_config.py
  python/cm/unit_tests/tests_api.py
  python/cm/unit_tests/tests_bundle_deletion.py
  python/cm/unit_tests/tests_hc.py
  python/cm/unit_tests/tests_inventory.py
  python/cm/unit_tests/tests_issue.py
  python/cm/unit_tests/tests_job.py
  python/cm/unit_tests/tests_runner.py
  python/cm/unit_tests/tests_upgrade.py
  python/cm/unit_tests/tests_variant.py
Labels: python

#1883 ADCM-2958 add nullable fields
  python/audit/migrations/0001_initial.py
  python/audit/models.py
Labels: python

#1895 ADCM-2887 Change expectations mechanics for session expiration
  tests/functional/ldap_auth/test_sync.py
Labels: tests

#1899 ADCM-2887 Fixed check in `session_should_expire`
  tests/functional/ldap_auth/test_sync.py
Labels: tests

#1905 ADCM-3002 Tests adjusted to the new `hc_acl` upgrade logic
  tests/functional/test_upgrade_actions.py
  tests/functional/test_upgrade_actions_data/hc_acl/config.yaml
Labels: tests

#1894 ADCM-2992 Tests on secrets: password and secrettext
  tests/functional/test_secrets.py
  tests/functional/test_secrets_data/cluster/change.yaml
  tests/functional/test_secrets_data/cluster/check.yaml
  tests/functional/test_secrets_data/cluster/config.yaml
Labels: tests

#1909 ADCM-2977 Tools for audit log testing
  requirements-test.txt
  tests/functional/audit/__init__.py
  tests/functional/audit/conftest.py
  tests/functional/audit/scenarios/simple.yaml
  tests/library/audit/__init__.py
  tests/library/audit/audit_log_schema.json
  tests/library/audit/checkers.py
  tests/library/audit/operations.py
  tests/library/audit/readers.py
Labels: tests

#1852 ADCM-2956 Fix action hc_acl, service is required
  python/cm/adcm_schema.yaml
  python/cm/checker.py
Labels: question, python

#1919 Adcm 2887 fix ldap login test
  tests/ui_tests/test_login_page.py
Labels: tests

#1920 ADCM-2836_1 fix sonar
  tests/ui_tests/test_cluster_list_page.py
Labels: tests

#1926 ADCM-2887 Tests adjustment
  tests/functional/ldap_auth/test_sync.py
  tests/ui_tests/test_admin_page.py
Labels: tests
