Repository arenadata/adcm, pull requests merged in 2022-09, with the labels that each got.

#2011 ADCM-3115 Add user to audit log of finished actions
  python/audit/cases/common.py
  python/audit/migrations/0001_initial.py
  python/audit/tests/test_action.py
  python/audit/tests/test_adcm.py
  python/audit/utils.py
  python/cm/job.py
Labels: python

#1999 ADCM-3127 LDAP: optional group_search_base
  conf/adcm/config.yaml
  conf/adcm/python_scripts/run_ldap_sync.py
  conf/adcm/python_scripts/testing_ldap_connection.py
  data/bundle/.gitignore
  python/adcm/settings.py
  python/rbac/ldap.py
Labels: python

#2023 ADCM-3142 add test on function check_value_unselected_field
  python/cm/tests/test_group_config_unselected.py
  python/cm/unit_tests/__init__.py
Labels: python

#2032 ADCM-3128 Tests on LDAP login/sync when group_search_base is not provided
  tests/functional/ldap_auth/test_no_group_base.py
  tests/library/ldap_interactions.py
Labels: tests

#2034 ADCM-3022 Test on sync (via action and login) when group_search_base is set directly to one group
  tests/functional/ldap_auth/test_basic.py
  tests/functional/ldap_auth/test_sync.py
  tests/library/ldap_interactions.py
Labels: tests

#2029 ADCM-3155 Fix audit bugs
  python/adcm/tests/base.py
  python/adcm/utils.py
  python/audit/cases/cluster.py
  python/audit/cases/common.py
  python/audit/cases/config.py
  python/audit/tests/files/import.tar
  python/audit/tests/test_bundle.py
  python/audit/tests/test_cluster.py
  python/audit/tests/test_policy.py
  python/audit/tests/test_role.py
  python/audit/tests/test_service.py
  python/audit/tests/test_task.py
  python/audit/tests/tests_commands.py
  python/audit/utils.py
  python/rbac/endpoints/policy/serializers.py
Labels: python

#2020 ADCM-3119 Add ability to rename cluster
  conf/adcm/python_scripts/run_ldap_sync.py
  python/adcm/settings.py
  python/adcm/tests/base.py
  python/ansible/plugins/action/adcm_add_host.py
  python/ansible/plugins/action/adcm_add_host_to_cluster.py
  python/ansible/plugins/action/adcm_check.py
  python/ansible/plugins/action/adcm_custom_log.py
  python/ansible/plugins/action/adcm_delete_host.py
  python/ansible/plugins/action/adcm_delete_service.py
  python/ansible/plugins/action/adcm_hc.py
  python/ansible/plugins/action/adcm_remove_host_from_cluster.py
  python/ansible/plugins/lookup/adcm_config.py
  python/ansible/plugins/lookup/adcm_state.py
  python/api/cluster/serializers.py
  python/api/cluster/views.py
  python/api/validators.py
  python/audit/tests/test_cluster.py
  python/backupdb.py
  python/cm/adcm_config.py
  python/cm/api.py
  python/cm/api_context.py
  python/cm/bundle.py
  python/cm/errors.py
  python/cm/inventory.py
  python/cm/issue.py
  python/cm/job.py
  python/cm/logger.py
  python/cm/migrations/0037_auto_20191120_1600.py
  python/cm/models.py
  python/cm/stack.py
  python/cm/status_api.py
  python/cm/tests/test_api.py
  python/cm/tests/test_cluster.py
  python/cm/unit_tests/tests_job.py
  python/cm/upgrade.py
  python/cm/variant.py
  python/cm/views.py
  python/init_db.py
  python/job_runner.py
  python/rbac/ldap.py
  python/task_runner.py
  tests/functional/test_stacks_data/cluster_proto_wo_actions/services/cluster/job.py
  tests/stack/cluster_bundle/cluster/job.py
  tests/stack/cluster_bundle/services/ZOOKEEPER/cook.py
  tests/stack_fake/services/cluster/job.py
Labels: python

#2005 Adcm-3120 fix group config tests
  tests/ui_tests/test_cluster_list_page.py
Labels: tests

#2012 ADCM-3093 Test on audit of changing all RBAC entities info
  tests/functional/audit/scenarios/full_update_rbac.yaml
  tests/functional/audit/test_update_rbac_objects.py
Labels: tests

#2033 ADCM-3158 Rework user deactivating algorithm
  conf/adcm/python_scripts/run_ldap_sync.py
  python/rbac/endpoints/group/views.py
  python/rbac/endpoints/user/views.py
  python/rbac/migrations/0005_rbac_group_unique_display_name_type_constraint.py
  python/rbac/migrations/0005_user_date_unjoined.py
  python/rbac/models.py
  python/rbac/services/user.py
  python/rbac/utils.py
Labels: python

#1978 ADCM-3028 Test on audit of configs update/restore
  tests/functional/audit/bundles/update/cluster/config.yaml
  tests/functional/audit/bundles/update/provider/config.yaml
  tests/functional/audit/conftest.py
  tests/functional/audit/scenarios/add_delete_host_group_config.yaml
  tests/functional/audit/scenarios/update_config_of_group_config.yaml
  tests/functional/audit/scenarios/update_restore_config.yaml
  tests/functional/audit/test_update_operations_audit.py
  tests/library/audit/audit_log_schema.json
  tests/library/audit/operations.py
Labels: tests

#2021 ADCM-3029 Test on audit scenario of cluster and provider objects' actions
  tests/functional/audit/bundles/actions/cluster/actions.yaml
  tests/functional/audit/bundles/actions/cluster/config.yaml
  tests/functional/audit/bundles/actions/provider/actions.yaml
  tests/functional/audit/bundles/actions/provider/config.yaml
  tests/functional/audit/conftest.py
  tests/functional/audit/scenarios/cluster_actions.yaml
  tests/functional/audit/scenarios/provider_actions.yaml
  tests/functional/audit/test_actions_audit.py
  tests/library/audit/checkers.py
  tests/library/audit/operations.py
Labels: tests

#2035 ADCM-3125 Added check on special "maintenance_mode" groups in inventory for MM inventory tests
  tests/functional/maintenance_mode/test_inventory_modification.py
Labels: tests

#1993 ADCM-3028 Tests on audit of: import/binds, plain service add/remove, license accept, cluster-related updates
  python/audit/cases/cluster.py
  python/audit/cases/service.py
  python/audit/tests/test_cluster.py
  tests/functional/audit/bundles/update/export/config.yaml
  tests/functional/audit/bundles/update/import/config.yaml
  tests/functional/audit/bundles/update/with_license/config.yaml
  tests/functional/audit/bundles/update/with_license/text.txt
  tests/functional/audit/conftest.py
  tests/functional/audit/scenarios/cluster_updates.yaml
  tests/functional/audit/scenarios/import_updates.yaml
  tests/functional/audit/scenarios/plain_service_add.yaml
  tests/functional/audit/test_cluster_objects_updates.py
  tests/library/audit/operations.py
Labels: tests

#2044 ADCM-3138 fix Internal Server error in case of request before deleting service
  python/api/service/views.py
  python/cm/adcm_config.py
Labels: python

#2045 ADCM-3157 Fix audit operation result for action run
  python/audit/tests/test_action.py
  python/audit/utils.py
Labels: python

#2046 ADCM-3169 cef log: action completeion
  python/audit/cef_logger.py
  python/audit/middleware.py
  python/audit/utils.py
Labels: python

#2043 ADCM-3166 add case provider-host-config-restore
  python/audit/cases/cluster.py
Labels: python

#2049 ADCM-2142 Return check that config page should be opened on config-related issues
  tests/ui_tests/test_cluster_list_page.py
Labels: tests

#2048 ADCM-2582 Adjust tests for user deactivation
  tests/functional/ldap_auth/test_complex.py
  tests/functional/ldap_auth/test_sync.py
  tests/functional/rbac/test_users.py
  tests/ui_tests/test_admin_page.py
Labels: tests

#2051 ADCM-3174 Bug fixes
  python/audit/cases/common.py
  python/audit/cases/service.py
  python/audit/tests/test_cluster.py
  python/audit/tests/test_provider.py
  python/audit/tests/test_service.py
  python/audit/utils.py
  python/cm/job.py
  requirements-test.txt
  tests/functional/audit/bundles/actions/new_cluster/config.yaml
  tests/functional/audit/bundles/actions/new_provider/config.yaml
  tests/functional/audit/scenarios/cancel_restart.yaml
  tests/functional/audit/scenarios/upgrade.yaml
  tests/functional/audit/test_actions_audit.py
  tests/library/audit/operations.py
Labels: python

#2052 ADCM-1524 Final fix of tests and skip
  tests/functional/audit/scenarios/cancel_restart.yaml
  tests/functional/audit/scenarios/plain_service_add.yaml
  tests/functional/audit/test_actions_audit.py
  tests/library/audit/operations.py
Labels: tests

#2018 ADCM-3123 Rework generate inventory for hosts in MM
  python/cm/inventory.py
  tests/functional/maintenance_mode/test_inventory_modification.py
Labels: feature

#2038 ADCM-3117 Renaming Hosts
  python/adcm/settings.py
  python/api/host/cluster_urls.py
  python/api/host/host_urls.py
  python/api/host/provider_urls.py
  python/api/host/serializers.py
  python/api/host/urls.py
  python/api/host/views.py
  python/api/serializers.py
  python/api/views.py
  python/cm/adcm_config.py
  python/cm/ansible_plugin.py
  python/cm/api.py
  python/cm/bundle.py
  python/cm/errors.py
  python/cm/issue.py
  python/cm/job.py
  python/cm/stack.py
  python/cm/tests/test_api/__init__.py
  python/cm/tests/test_api/test_api.py
  python/cm/tests/test_api/test_host.py
  python/cm/upgrade.py
  python/cm/variant.py
  tests/functional/test_plugins_host.py
Labels: feature

#2053 ADCM-3116 Change tests not to create clusters with "_" in names
  tests/functional/rbac/conftest.py
  tests/functional/rbac/test_reassignment.py
  tests/functional/test_action_config.py
  tests/functional/test_ansible_venv.py
  tests/functional/test_backend_filtering.py
  tests/functional/test_bundle_support.py
  tests/functional/test_config.py
  tests/functional/test_delete_service_plugin.py
  tests/functional/test_delete_service_with_active_export.py
  tests/functional/test_import.py
  tests/functional/test_multiple_adcm.py
  tests/functional/test_read_only_parameters.py
  tests/functional/test_states.py
  tests/functional/test_upgrade_cluster_imports.py
  tests/ui_tests/test_admin_page.py
  tests/ui_tests/test_jobs_page.py
  tests/ui_tests/test_provider_page.py
Labels: tests

#1849 ADCM-2582 Rework user deletion
  conf/adcm/python_scripts/run_ldap_sync.py
  python/rbac/endpoints/group/views.py
  python/rbac/endpoints/user/views.py
  python/rbac/models.py
  python/rbac/services/user.py
  python/rbac/utils.py
  tests/functional/ldap_auth/test_complex.py
  tests/functional/ldap_auth/test_sync.py
  tests/functional/rbac/test_users.py
  tests/ui_tests/app/page/admin/locators.py
  tests/ui_tests/app/page/admin/page.py
  tests/ui_tests/test_admin_page.py
  web/package.json
  web/src/app/admin/users/users.component.html
  web/src/app/admin/users/users.component.ts
  web/src/app/components/rbac/user-form/rbac-user-form.component.html
  web/src/app/components/rbac/user-form/rbac-user-form.component.ts
  web/src/app/models/rbac/rbac-user.model.ts
  web/src/app/shared/components/dialog.component.ts
  web/src/app/shared/configuration/configuration.module.ts
  web/src/app/shared/configuration/tools/filter/filter-list/filter-list.component.scss
  web/src/app/shared/configuration/tools/filter/filter-list/filter-list.component.ts
  web/src/app/shared/configuration/tools/filter/filter.component.scss
  web/src/app/shared/configuration/tools/filter/filter.component.ts
Labels: feature

#2056 ADCM-3153 add group_config config in inventory host_vars from all groups
  python/cm/inventory.py
  python/cm/unit_tests/test_inventory_host_vars.py
  python/cm/unit_tests/utils.py
Labels: python

#2070 ADCM-3186 Fix RBAC objects update audit tests
  tests/functional/audit/scenarios/full_update_rbac.yaml
Labels: tests

#2057 ADCM-3161 add hierarchy for config_group_customization in cluster
  python/cm/stack.py
Labels: python

#2069 ADCM-3186 Rename audit object when Cluster, Host, Group, Policy renamed
  python/audit/tests/test_audit_object_rename.py
  python/cm/apps.py
  python/cm/signals.py
  tests/functional/audit/scenarios/full_update_rbac.yaml
Labels: python

#2064 ADCM-3025 Test that audit objects don't duplicate or falsely changed on UPDATE
  python/audit/tests/test_audit_objects.py
Labels: tests

#2075 Increase flaky tests timeout
  tests/ui_tests/app/page/common/popups/page.py
  tests/ui_tests/test_host_page.py
Labels: tests

#2068 ADCM-3027 Test on audit of DELETE operation returned
  python/audit/tests/test_provider.py
  python/audit/utils.py
  tests/functional/audit/scenarios/delete_objects.yaml
  tests/functional/audit/test_api.py
  tests/functional/audit/test_delete_operations_audit.py
Labels: tests

#2074 ADCM-3146 Change returning errors during validation of cluster name update and host FQDN update + bugfixes
  python/api/host/serializers.py
  python/api/host/views.py
  python/api/validators.py
  python/cm/tests/test_cluster.py
  python/cm/tests/test_host.py
Labels: tests, python

#2055 ADCM-3131 `selector` generation fixed, `selector` format fixed
  .pre-commit-config.yaml
  python/api/job/serializers.py
  python/cm/issue.py
  python/cm/job.py
  python/cm/migrations/0092_auto_20220906_0957.py
  python/cm/models.py
  python/cm/tests/test_job.py
  python/rbac/endpoints_ui/role/views.py
Labels: python

#2073 ADCM-3164 refactor existed tests in inventory, rework utils
  python/cm/tests/test_config_group.py
  python/cm/tests/test_inventory.py
  python/cm/tests/test_inventory_host_vars.py
  python/cm/tests/utils.py
Labels: python

#2076 ADCM-3182 Download task log archive
  python/adcm/settings.py
  python/adcm/utils.py
  python/api/job/task_urls.py
  python/api/job/views.py
  python/cm/tests/files/task_log_download/1/ansible-stderr.txt
  python/cm/tests/files/task_log_download/1/ansible-stdout.txt
  python/cm/tests/files/task_log_download/1/config.json
  python/cm/tests/files/task_log_download/1/inventory.json
  python/cm/tests/files/task_log_download/2/ansible-stderr.txt
  python/cm/tests/files/task_log_download/2/ansible-stdout.txt
  python/cm/tests/files/task_log_download/2/config.json
  python/cm/tests/files/task_log_download/2/inventory.json
  python/cm/tests/files/task_log_download/3/ansible-stderr.txt
  python/cm/tests/files/task_log_download/3/ansible-stdout.txt
  python/cm/tests/files/task_log_download/3/config.json
  python/cm/tests/files/task_log_download/3/inventory.json
  python/cm/tests/test_task_log.py
Labels: python

#2081 ADCM-3034 Test on ADCM/LDAP user deactivation
  tests/functional/test_users.py
  tests/functional/tools.py
Labels: tests

#2090 ADCM-3209 add correct formating of operation name in case of host added to cluster
  python/audit/cases/cluster.py
  python/audit/tests/test_cluster.py
Labels: python

#2091 ADCM-3199 FQDNs in tests fix
  tests/functional/rbac/conftest.py
  tests/functional/rbac/test_cluster_related_permissions.py
  tests/functional/test_actions_on_host.py
  tests/functional/test_adcm_upgrade.py
  tests/functional/test_ansible_venv.py
  tests/functional/test_config.py
  tests/functional/test_config_groups.py
  tests/functional/test_delete_host.py
  tests/functional/test_delete_object_with_component.py
  tests/functional/test_delete_service_plugin.py
  tests/functional/test_host_components.py
  tests/functional/test_locked_objects.py
  tests/functional/test_states.py
  tests/ui_tests/test_cluster_list_page.py
  tests/ui_tests/test_jobs_page.py
  tests/ui_tests/test_provider_page.py
Labels: tests

#2078 ADCM-3196 Rework logging audit
  os/etc/service/wsgi/run
  python/adcm/settings.py
  python/audit/cef_logger.py
  python/audit/management/commands/clearaudit.py
  python/cm/logger.py
  python/cm/management/commands/logrotate.py
  python/cm/management/commands/run_ldap_sync.py
Labels: python

#2042 ADCM-3163 Checks of CEF logs added to tests + black/isort on audit dir
  tests/functional/audit/checks.py
  tests/functional/audit/conftest.py
  tests/functional/audit/test_actions_audit.py
  tests/functional/audit/test_api.py
  tests/functional/audit/test_background_operations.py
  tests/functional/audit/test_cluster_objects_updates.py
  tests/functional/audit/test_create_operations_audit.py
  tests/functional/audit/test_delete_operations_audit.py
  tests/functional/audit/test_login.py
  tests/functional/audit/test_operation_logs.py
  tests/functional/audit/test_rotation.py
  tests/functional/audit/test_update_operations_audit.py
  tests/functional/audit/test_update_rbac_objects.py
Labels: tests

#2086 ADCM-3197 Test on known bug with one host belonging to multiple config groups
  tests/functional/test_inventories.py
  tests/functional/test_inventories_data/cluster_with_components/actions.yaml
  tests/functional/test_inventories_data/cluster_with_components/config.yaml
Labels: tests

#2095 ADCM-3199 Fix of expected message in `test_policy_permission_to_run_cluster_action_and_view_task`
  tests/ui_tests/test_admin_page.py
Labels: tests

#2072 ADCM-3187 Tests on audit of objects update (cluster/host)
  python/cm/tests/test_host.py
  tests/functional/audit/bundles/update/with_license/config.yaml
  tests/functional/audit/conftest.py
  tests/functional/audit/scenarios/objects_update.yaml
  tests/functional/audit/test_actions_audit.py
  tests/functional/audit/test_objects_updates.py
  tests/library/audit/operations.py
Labels: tests

#2089 ADCM-3199 Fix host and cluster regex validator
  python/adcm/settings.py
  python/adcm/urls.py
  python/adcm/utils.py
  python/api/action/views.py
  python/api/adcm/urls.py
  python/api/cluster/serializers.py
  python/api/cluster/views.py
  python/api/config/views.py
  python/api/group_config/views.py
  python/api/host/serializers.py
  python/api/utils.py
  python/api/validators.py
  python/api/views.py
  python/audit/tests/test_cluster.py
  python/audit/tests/test_host.py
  python/cm/adcm_config.py
  python/cm/api.py
  python/cm/errors.py
  python/cm/templates/base.html
  python/cm/templates/error.html
  python/cm/templates/index.html
  python/cm/templates/token.html
  python/cm/templates/ws.html
  python/cm/tests/files/min-3199.tar
  python/cm/tests/test_cluster.py
  python/cm/tests/test_hc.py
  python/cm/tests/test_host.py
  python/cm/views.py
  tests/functional/rbac/conftest.py
  tests/functional/rbac/test_cluster_related_permissions.py
  tests/functional/test_actions_on_host.py
  tests/functional/test_adcm_upgrade.py
  tests/functional/test_ansible_venv.py
  tests/functional/test_backend_filtering.py
  tests/functional/test_config.py
  tests/functional/test_config_groups.py
  tests/functional/test_delete_host.py
  tests/functional/test_delete_object_with_component.py
  tests/functional/test_delete_service_plugin.py
  tests/functional/test_host_components.py
  tests/functional/test_locked_objects.py
  tests/functional/test_states.py
  tests/functional/test_upgrade_cluster.py
  tests/ui_tests/test_admin_page.py
  tests/ui_tests/test_cluster_list_page.py
  tests/ui_tests/test_jobs_page.py
  tests/ui_tests/test_provider_page.py
Labels: python

#2062 ADCM-3061
  python/api/cluster/serializers.py
  python/api/cluster/views.py
  python/api/component/serializers.py
  python/api/component/views.py
  python/api/host/serializers.py
  python/api/host/views.py
  python/api/provider/serializers.py
  python/api/provider/views.py
  python/api/service/serializers.py
  python/api/service/views.py
  python/api/utils.py
  python/cm/upgrade.py
Labels: python

#2087 `@only_clean_adcm` for audit tests
  tests/functional/audit/test_actions_audit.py
  tests/functional/audit/test_api.py
  tests/functional/audit/test_background_operations.py
  tests/functional/audit/test_create_operations_audit.py
  tests/functional/audit/test_delete_operations_audit.py
  tests/functional/audit/test_login.py
  tests/functional/audit/test_operation_logs.py
  tests/functional/audit/test_rotation.py
  tests/functional/audit/test_update_operations_audit.py
  tests/functional/audit/test_update_rbac_objects.py
Labels: tests

#2113 Attach CEF and API logs to allure if lengths are not the same
  tests/functional/audit/checks.py
Labels: tests

#2112 ADCM-3219 Prepare for using Postgres
  data/download/adb.2.6.tar
  data/download/ssh.1.3.tar
  python/api/cluster/views.py
  python/audit/cases/common.py
  python/audit/cases/config.py
  python/audit/migrations/0001_initial.py
  python/audit/models.py
  python/audit/tests/test_action.py
  python/audit/tests/test_adcm.py
  python/audit/tests/test_audit_object_rename.py
  python/audit/tests/test_authentication.py
  python/audit/tests/test_cluster.py
  python/audit/tests/test_component.py
  python/audit/tests/test_config_log.py
  python/audit/tests/test_group_config.py
  python/audit/tests/test_host.py
  python/audit/tests/test_provider.py
  python/audit/tests/test_service.py
  python/audit/tests/tests_commands.py
  python/cm/management/commands/logrotate.py
  python/cm/migrations/0021_auto_20190607_1027.py
  python/cm/migrations/0093_auto_20220928_0556.py
  python/cm/models.py
  python/cm/tests/test_api.py
  python/cm/tests/test_bundle_deletion.py
  python/cm/tests/test_inventory.py
  python/cm/tests/test_job.py
  python/cm/tests/test_task_log.py
  python/rbac/ldap.py
  python/rbac/migrations/0001_initial.py
  python/rbac/migrations/0006_auto_20220928_0455.py
  python/rbac/models.py
  python/rbac/tests/test_api.py
  python/rbac/tests/test_role.py
Labels: python

#2118 ADCM-3213 Bump Django and lxml versions
  Makefile
  requirements-test.txt
Labels: python

#2120 ADCM-3243 change naming of bound flag to binded
  python/cm/api.py
Labels: python

#2121 Remove CEF checks + Skip flaky UI test
  tests/functional/audit/checks.py
  tests/functional/audit/test_create_operations_audit.py
  tests/functional/audit/test_delete_operations_audit.py
  tests/functional/audit/test_objects_updates.py
  tests/functional/audit/test_operation_logs.py
  tests/functional/audit/test_update_operations_audit.py
  tests/functional/audit/test_update_rbac_objects.py
  tests/ui_tests/test_host_page.py
Labels: tests

#2111 ADCM-3218 change maintenance_mode field from enum to bool everywhere
  python/api/action/views.py
  python/api/host/serializers.py
  python/api/host/views.py
  python/api/utils.py
  python/audit/tests/test_audit_object_rename.py
  python/audit/tests/test_cluster.py
  python/cm/api.py
  python/cm/hierarchy.py
  python/cm/inventory.py
  python/cm/migrations/0093_alter_host_maintenance_mode.py
  python/cm/models.py
  python/cm/tests/test_host.py
  python/cm/upgrade.py
Labels: python
